/* -------------------------------------------- */
/*------------Go To Top Button -----------------*/
/*----------------------------------------------*/
#go-top {
    position: fixed;
    bottom: 0;
    right: 25px;
    display: none;
}
#go-top a {
    text-decoration: none;
    border: 0 none;
    display: block;
    width: 60px;
    height: 40px;
    background: url(../images/go-to-top.png) no-repeat 50% 50%;
    background-color: #1f2024;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

    border-radius: 3px 3px 0 0;

    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}
#go-top a:hover { background-color: #0F9095; }