{% extends "base.html" %}
{% load staticfiles %}
{% block title %}密码修改成功{% endblock %}
{% block content %}
<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><img src="{% static "images/logo1.png" %}" alt="Brand" style="margin-top: -11px" title="XXX系统"></a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="{% url 'home' username=user.username %}">菜单一</a></li>
            <li><a href="#">菜单二</a></li>
        </ul>
        <div id="navbar" class="collapse navbar-collapse navbar-right">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="glyphicon glyphicon-user"></i>{{ user.first_name }}<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{% url 'profile' username=user.username %}"><i class="glyphicon glyphicon-user"></i>个人资料</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'logout' %}"><i class="glyphicon glyphicon-off"></i>退出</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<script>
var time = 3;
function update(){
    document.getElementById("count").innerHTML = time;
    time = time - 1;
    if (time==0){
        location.href = "{% url 'profile' username=user.username %}";
    }
}
setInterval("update()", 1000);
</script>
<div class="container" style="color: #180aff;">
    <h2>密码修改成功!</h2>
    <p id="count">3</p>
</div>
{% endblock %}