<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="100Credit">
    <meta name="keywords" content="100Credit">
    <meta name="author" content="100Credit">
    <link rel="icon" href="{{ STATIC_URL }}images/favicon.ico">
    <title>PII提取系统 - {% block title %}{% endblock %}</title>
    <link href="{{ STATIC_URL }}bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
{% block content %}{% endblock %}
    <script src="{{ STATIC_URL }}jquery/1.11.3/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>
